body {
	padding: 0;
	margin: 0;

	background-color: #fff;
	color: #333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*============================
	header
============================*/

.header {
	width: 1140px;
	max-width: 100%;
	padding: 10px 0;
	margin: 20px auto;
	box-sizing: border-box;
}

/*  navigation  */
.navigation {

}

.header__nav {

}

.navigation__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
	background-color: #e5e5e5;
}

.navigation__item {
	box-sizing: border-box;

	background-color: #c5c5c5;
}

/*  переключаемся на бургерное меню  */
@media (max-width: 768px) {
	.navigation__list {
		flex-direction: column;
		padding: 48px;
	}
	.navigation__item {
		/*  этот отступ нужен, чтобы мы видели outline каждого элемента навигации в фокусе */
		margin-bottom: 3px;
	}
}

.navigation__link {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding-left: 40px;

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;

	background-color: #e5e5e5;
	transition: background-color 0.2s ease;
	transition: color 0.2s ease;
}

.navigation__link:hover {
	color: #fffcef;
	background-color: #f04040;
}

.navigation__link:active {
	background-color: #cd5c5c;
}

.navigation__link:focus {
	outline: 3px solid #cd5c5c;
}

.navigation__link::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 8px;

	display: block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image 0.2s ease;
}

.navigation__link--about::before {
	background-image: url(../img/information.svg);
}

.navigation__link--about:hover::before {
	background-image: url(../img/information-hover.svg);
}

.navigation__link--gallery::before {
	background-image: url(../img/picture.svg);
}

.navigation__link--gallery:hover::before {
	background-image: url(../img/picture-hover.svg);
}

.navigation__link--menu::before {
	background-image: url(../img/menu.svg);
}

.navigation__link--menu:hover::before {
	background-image: url(../img/menu-hover.svg);
}

.navigation__link--table::before {
	background-image: url(../img/flag.svg);
}

.navigation__link--table:hover::before {
	background-image: url(../img/flag-hover.svg);
}

.navigation__link--location::before {
	background-image: url(../img/map-marker.svg);
}

.navigation__link--location:hover::before {
	background-image: url(../img/map-marker-hover.svg);
}

.navigation__link--contacts::before {
	background-image: url(../img/contacts.svg);
}


.navigation__link--contacts:hover::before {
	background-image: url(../img/contacts-hover.svg);
}

/*  слегка ужимаем навигацию, чтобы сохранить её в одной строке до переключения на бургерное меню  */
@media (max-width: 960px) {
	.navigation__link {
		padding-left: 32px;
		font-size: 16px;
	}
	.navigation__link::before {
		left: 4px;
	}
}


/*============================
	promo-slide
============================*/

.promo-slide {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 1140px;
	max-width: 100%;
	padding: 50px;
	margin: 0 auto;
	margin-bottom: 50px;
	box-sizing: border-box;
	overflow: hidden;

	background-color: #f04040;
	background-image:
	    linear-gradient(35deg, #e5e5e5 28%, transparent 28%),
		linear-gradient(145deg, #e5e5e5 28%, transparent 28%),
        linear-gradient(215deg, #e5e5e5 28%, transparent 28%),
        linear-gradient(325deg, #e5e5e5 28%, transparent 28%);
}

@media (max-width: 480px) {
	.promo-slide {
		background-image:
	    linear-gradient(35deg, #e5e5e5 22%, transparent 22%),
		linear-gradient(145deg, #e5e5e5 22%, transparent 22%),
        linear-gradient(215deg, #e5e5e5 22%, transparent 22%),
        linear-gradient(325deg, #e5e5e5 22%, transparent 22%);
	}

}

.promo-slide__welcome {
	padding: 0;
	margin: 0;
	display: flex;

	font-size: 44px;
	line-height: 50px;

	color: #f04040;

	border-radius: 50px;
}

.welcome__span {
	display: block;
	width: 50px;
	height: 50px;

	text-align: center;
	text-transform: uppercase;
	color: #f04040;

	background-color: #fffcef;
	border-radius: 25px;
}

@media (max-width: 960px) {
	.promo-slide__welcome {
		font-size: 36px;
		line-height: 40px;
	}

	.welcome__span {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 640px) {
	.promo-slide__welcome {
		font-size: 28px;
		line-height: 32px;
	}

	.welcome__span {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 360px) {

}

.span--space {
	background-color: transparent;
}

.promo-slide__logo {
	padding: 0;
	margin: 0;

	font-size: 100px;
	line-height: 100px;
	text-transform: uppercase;
	color: #fffcef;
}

@media (max-width: 960px) {
	.promo-slide__logo {
		font-size: 84px;
		line-height: 84px;
	}
}

@media (max-width: 640px) {
	.promo-slide__logo {
		font-size: 64px;
		line-height: 64px;
	}
}

@media (max-width: 360px) {
	
}

.promo-slide__logo-tagline {
	padding: 0;
	margin: 0;

	font-size: 32px;
	line-height: 36px;
	letter-spacing: 7px;
	font-style: italic;
	color: #fffcef;
}

@media (max-width: 960px) {
	.promo-slide__logo-tagline {
		font-size: 24px;
		line-height: 28px;
	}
}

@media (max-width: 640px) {
	.promo-slide__logo-tagline {
		font-size: 18px;
		line-height: 18px;
	}
}

@media (max-width: 360px) {
	
}


/*============================
	staff
============================*/

.staff {
	position: relative;
	width: 1140px;
	max-width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.staff::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;

	display: block;
	margin-left: -50px;

	border: 50px solid #f04040;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}

.staff::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;

	display: block;
	margin-left: -50px;

	border: 50px solid #cd5c5c;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}

.staff__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	margin: 0;
	padding: 0;

	list-style: none;
}

.staff__item {
	display: flex;
	align-items: flex-start;
	position: relative;

	width: 540px;
	margin-bottom: 40px;
	padding: 10px;
	box-sizing: border-box;
}

.staff__item::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;

	display: block;
	width: 300px;
	height: 0;

	border-bottom: 2px dashed #333;
}

.flex-layout--left {
	position: relative;
	margin-right: 20px;
}

.staff__image {
	position: relative;
	border: 10px solid #cd5c5c;
	border-radius: 50%;
}

.staff__image-container {
	transition: opacity 0.2s ease;
}

/*  с помощью focus-within меняем свойства фото при наведении на ссылку соцсети  */
@media (min-width: 769px) {
	.staff__flex-layout:hover .staff__image-container,
	.staff__flex-layout:focus-within .staff__image-container {
		opacity: 0.4;
	}

	.staff__flex-layout:hover .staff__image,
	.staff__flex-layout:focus-within .staff__image {
		border-color: #a5a5a5;
	}
}

.staff__social-link {
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: 96px;
	height: 96px;
	margin-left: -48px;
	margin-top: -48px;
	box-sizing: border-box;

	background-image: url("../img/vk-social-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: 8px solid #333;
	border-radius: 50%;

	opacity: 0;
	transition: opacity 0.2s ease;
}

/*  на планшетных разрешениях ссылки на соцсети видны перманентно  */
@media (max-width: 768px) {
	.staff__social-link {
		position: static;
		margin: 0 auto;
		margin-top: 5px;
		width: 48px;
		height: 48px;

		opacity: 1;
		border: none;
		border-radius: 0;
	}

	.staff__social-link:hover{
		opacity: 0.7;
	}

	.staff__social-link:active {
		opacity: 0.4;
	}

	.staff__social-link:focus {
		opacity: 0.7;
		outline: 2px solid #333;
	}
}

/*  добавляем интерактивность для ссылки на соцсети в версии для пк  */
@media (min-width: 769px) {
	/*  здесь outline не повлияет на доступность с клавиатуры, ссылка хороша видна в фокусе  */
	.staff__social-link:focus {
		outline: none;
	}

	.staff__flex-layout:hover .staff__social-link:hover {
		opacity: 1;
	}

	.staff__flex-layout:hover .staff__social-link:active {
		opacity: 0.4;
	}

	.staff__flex-layout:hover .staff__social-link {
		opacity: 0.7;
	}

	.staff__flex-layout:focus-within .staff__social-link {
		opacity: 0.7;
	}
}

.staff__name {
	margin-top: 0;
	margin-bottom: 20px;

	font-size: 24px;
	line-height: 30px;
	color: #333;
}

.staff__description {
	margin-left: 20px;

	font-size: 16px;
	line-height: 18px;
	color: #333;
}

/*  переход на мобильную версию и планшетную версии, распологаем все элементы друг за другом  */
@media (max-width: 768px) {
	.staff__item {
		flex-direction: column;
		align-items: center;
	}

	.flex-layout--left {
		order: 2;
		margin-right: 0;
	}

	.flex-layout--right {
		order: 1;
	}

	.staff__image {
		margin: 0;
	}

	.staff__name {
		text-align: center;
	}

	.staff__description {
		margin: 20px;

		text-align: center;
	}

	.staff__item::before {
		width: 280px;
		left: 50%;
		margin-left: -140px;
	}
}


/*============================
	slider
============================*/

.slider {
	display: flex;
	align-items: center;
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	
	background-color: #fff;
}

.slider__button {
	position: relative;
	flex-shrink: 0;

	width: 90px;
	height: 100px;
	padding: 0;
	margin: 0;

	font-size: 0;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

.slider__button:focus {
	outline-color: #cd5c5c;
}

.slider__button--disabled {
	cursor: default;
}

.slider__button::before {
	content: "";
	position: absolute;
	top: 0;
	
	width: 0;
	height: 0;

	border: 50px solid #333;
	border-top-color: transparent;
	border-bottom-color: transparent;

	transition: all 0.2s ease;
}

.slider__button--disabled::before {
	border: 50px solid #c5c5c5;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.slider__button:hover::before {
	opacity: 0.7;
}

.slider__button:active::before {
	opacity: 0.5;
}

.slider__button--prev::before {
	left: 20px;

	border-left-style: none;
}

.slider__button--next::before {
	right: 20px;

	border-right-style: none;
}

@media (max-width: 768px) {
	.slider__button {
		height: 60px;
		width: 60px;
	}

	.slider__button::before,
	.slider__button--disabled::before {
		border-width: 30px;
	}

	.slider__button--prev::before {
		left: 10px;
	}
	.slider__button--next::before {
		right: 10px;
	}
}

@media (max-width: 480px) {
	.slider__button {
		height: 40px;
		width: 40px;
	}

	.slider__button::before,
	.slider__button--disabled::before {
		border-width: 20px;
	}

	.slider__button--prev::before {
		left: 10px;
	}
	.slider__button--next::before {
		right: 10px;
	}
}

.slider__button--disabled:hover::before {
	opacity: 1;
}
.slider__button--disabled:active::before {
	opacity: 1;
}

.slider__wrapper {
	width: 100%;
	max-width: 1140px;
	overflow: hidden;

	border: 3px solid #333;
}

.slider__inner-wrapper {
	display: flex;

	transition: transform 0.75s ease-in-out;
}

.slider__item {
	flex-shrink: 0;

	width: 100%;
	height: 100%;
}

