/*  Подключаем основной шрифт Georgia  */
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/Georgia-BoldItalic.eot');
	src: url('../fonts/georgia/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/Georgia-BoldItalic.woff') format('woff'),
		url('../fonts/georgia/Georgia-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/Georgia-Italic.eot');
	src: url('../fonts/georgia/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/Georgia-Italic.woff') format('woff'),
		url('../fonts/georgia/Georgia-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/Georgia-Bold.eot');
	src: url('../fonts/georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/Georgia-Bold.woff') format('woff'),
		url('../fonts/georgia/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/Georgia.eot');
	src: url('../fonts/georgia/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/Georgia.woff') format('woff'),
		url('../fonts/georgia/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333;

	background-color: #fff;
}

.visually-hidden {
  	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
 	margin: -1px;
}


/*============================
	header
============================*/

.header {
	width: 1140px;
	max-width: 100%;
	padding: 10px 0;
	margin: 20px auto;
	box-sizing: border-box;
}

/*  navigation  */
.navigation {
	position: relative;
	background-color: #e5e5e5;
}

.header__nav {

}

.navigation__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
}

.navigation__item {
	box-sizing: border-box;

	background-color: #c5c5c5;
}

.navigation__link {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding-left: 40px;

	font-family: "Georgia", "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;

	background-color: #e5e5e5;
	transition: background-color 0.2s ease;
	transition: color 0.2s ease;
}

.navigation__link:hover {
	color: #fffcef;
	background-color: #f04040;
}

.navigation__link:active {
	background-color: #cd5c5c;
}

.navigation__link:focus {
	outline: 3px solid #cd5c5c;
}

.navigation__link::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 8px;

	display: block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image 0.2s ease;
}

.navigation__link--about::before {
	background-image: url(../img/information.svg);
}

.navigation__link--about:hover::before {
	background-image: url(../img/information-hover.svg);
}

.navigation__link--gallery::before {
	background-image: url(../img/picture.svg);
}

.navigation__link--gallery:hover::before {
	background-image: url(../img/picture-hover.svg);
}

.navigation__link--menu::before {
	background-image: url(../img/menu.svg);
}

.navigation__link--menu:hover::before {
	background-image: url(../img/menu-hover.svg);
}

.navigation__link--table::before {
	background-image: url(../img/flag.svg);
}

.navigation__link--table:hover::before {
	background-image: url(../img/flag-hover.svg);
}

.navigation__link--location::before {
	background-image: url(../img/map-marker.svg);
}

.navigation__link--location:hover::before {
	background-image: url(../img/map-marker-hover.svg);
}

.navigation__link--contacts::before {
	background-image: url(../img/contacts.svg);
}


.navigation__link--contacts:hover::before {
	background-image: url(../img/contacts-hover.svg);
}

/*  слегка ужимаем навигацию, чтобы сохранить её в одной строке до переключения на бургерное меню  */
@media (max-width: 960px) {
	.navigation__link {
		padding-left: 32px;
		font-size: 16px;
	}
	.navigation__link::before {
		left: 4px;
	}
}

.navigation--burger {
	display: none;
	padding: 20px 40px;
}

.navigation__burger-btn {
	position: relative;
	display: block;

	width: 40px;
	height: 30px;
	padding: 0;
	margin: 0 auto;

	font-size: 0;

	background-color: transparent;
	border: none;
	cursor: pointer;

	outline: none;
}

.navigation__burger-btn::before,
.navigation__burger-btn::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;

	background-color: #333;
	border-radius: 2px;
	transition: transform 0.3s ease, top 0.3s ease 0.3s, background-color 0.3s ease;
}

.navigation__burger-btn::before {
	top: 5px;
}
.navigation__burger-btn::after {
	top: 20px;
}

.navigation__burger--close::before,
.navigation__burger--close::after {
	top: 13px;
	transition: top 0.3s ease, transform 0.3s ease 0.3s;
}

.navigation__burger--close::before {
	transform: rotate(45deg);
}
.navigation__burger--close::after {
	transform: rotate(-45deg);
}

.navigation__burger-btn:hover::before,
.navigation__burger-btn:hover::after {
	background-color: #555;
}

.navigation__list--burger {
	display: none;

	margin-top: 20px;
}

.navigation__item--burger {
	/*  этот отступ нужен, чтобы мы видели outline каждого элемента навигации в фокусе */
	margin-bottom: 3px;
	transition: opacity 0.5s ease;
	opacity: 0;
}

/*  переключаемся на бургерное меню  */
@media (max-width: 768px) {
	.navigation {
		display: none;
	}

	.navigation--burger {
		display: block;
	}
}

	
/*============================
	promo-slide
============================*/

.promo-slide {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 1140px;
	max-width: 100%;
	padding: 50px;
	margin: 0 auto;
	margin-bottom: 50px;
	box-sizing: border-box;
	overflow: hidden;

	background-color: #f04040;
	background-image:
	    linear-gradient(35deg, #e5e5e5 28%, transparent 28%),
		linear-gradient(145deg, #e5e5e5 28%, transparent 28%),
        linear-gradient(215deg, #e5e5e5 28%, transparent 28%),
        linear-gradient(325deg, #e5e5e5 28%, transparent 28%);
}

@media (max-width: 480px) {
	.promo-slide {
		background-image:
	    linear-gradient(35deg, #e5e5e5 22%, transparent 22%),
		linear-gradient(145deg, #e5e5e5 22%, transparent 22%),
        linear-gradient(215deg, #e5e5e5 22%, transparent 22%),
        linear-gradient(325deg, #e5e5e5 22%, transparent 22%);
	}

}

.promo-slide__welcome {
	padding: 0;
	margin: 0;
	display: flex;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 44px;
	line-height: 50px;
	font-weight: 300;

	color: #f04040;

	border-radius: 50px;
}

.welcome__span {
	display: block;
	width: 50px;
	height: 50px;

	text-align: center;
	text-transform: uppercase;
	color: #f04040;

	background-color: #fffcef;
	border-radius: 25px;
}

@media (max-width: 960px) {
	.promo-slide__welcome {
		font-size: 36px;
		line-height: 40px;
	}

	.welcome__span {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 640px) {
	.promo-slide__welcome {
		font-size: 24px;
		line-height: 32px;
	}

	.welcome__span {
		width: 28px;
		height: 28px;
	}
}

@media (max-width: 360px) {

}

.span--space {
	background-color: transparent;
}

.promo-slide__logo {
	padding: 0;
	margin: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-weight: 700;
	font-size: 100px;
	line-height: 100px;
	text-transform: uppercase;
	color: #fffcef;
}

@media (max-width: 960px) {
	.promo-slide__logo {
		font-size: 84px;
		line-height: 84px;
	}
}

@media (max-width: 640px) {
	.promo-slide__logo {
		font-size: 64px;
		line-height: 64px;
	}
}

@media (max-width: 360px) {
	.promo-slide__logo {
		font-size: 48px;
		line-height: 48px;
	}
}

.promo-slide__logo-tagline {
	padding: 0;
	margin: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 28px;
	font-weight: 200;
	line-height: 36px;
	letter-spacing: 5px;
	font-style: italic;
	color: #fffcef;
}

@media (max-width: 960px) {
	.promo-slide__logo-tagline {
		font-size: 24px;
		line-height: 28px;
	}
}

@media (max-width: 640px) {
	.promo-slide__logo-tagline {
		font-size: 18px;
		line-height: 18px;
	}
}

@media (max-width: 360px) {
	.promo-slide__logo-tagline {
		font-size: 14px;
		line-height: 16px;
	}
}


/*============================
	staff
============================*/

.staff {
	position: relative;
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.down-button {
	position: relative;
	display: block;

	width: 100px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 100px;
	
	font-size: 0;
}

.down-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;

	display: block;
	margin-left: -50px;

	border: 50px solid #333;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;

	opacity: 1;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.promo__down-button::before {
	border-color: #f04040;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}

.down-button:hover::before {
	opacity: 0.8;
}

.down-button:active::before {
	opacity: 0.6;
	transform: translateY(5px);
}

.staff__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	list-style: none;
}

.staff__item {
	display: flex;
	align-items: flex-start;
	position: relative;

	width: 540px;
	margin-bottom: 40px;
	padding: 10px;
	box-sizing: border-box;
}

.staff__item::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10px;

	display: block;
	width: 300px;
	height: 0;

	border-bottom: 2px dashed #333;
}

.flex-layout--left {
	position: relative;
	margin-right: 20px;
}

.staff__image {
	position: relative;
	border: 10px solid #cd5c5c;
	border-radius: 50%;
}

.staff__image-container {
	transition: opacity 0.2s ease;
}

/*  с помощью focus-within меняем свойства фото при наведении на ссылку соцсети  */
@media (min-width: 769px) {
	.staff__flex-layout:hover .staff__image-container,
	.staff__flex-layout:focus-within .staff__image-container {
		opacity: 0.4;
	}

	.staff__flex-layout:hover .staff__image,
	.staff__flex-layout:focus-within .staff__image {
		border-color: #a5a5a5;
	}
}

.staff__social-link {
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: 96px;
	height: 96px;
	margin-left: -48px;
	margin-top: -48px;
	box-sizing: border-box;

	background-image: url("../img/vk-social-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: 8px solid #333;
	border-radius: 50%;

	opacity: 0;
	transition: opacity 0.2s ease;
}

/*  на планшетных разрешениях ссылки на соцсети видны перманентно  */
@media (max-width: 768px) {
	.staff__social-link {
		position: static;
		margin: 0 auto;
		margin-top: 5px;
		width: 48px;
		height: 48px;

		opacity: 1;
		border: none;
		border-radius: 0;
	}

	.staff__social-link:hover{
		opacity: 0.7;
	}

	.staff__social-link:active {
		opacity: 0.4;
	}

	.staff__social-link:focus {
		opacity: 0.7;
		outline: 2px solid #333;
	}
}

/*  добавляем интерактивность для ссылки на соцсети в версии для пк  */
@media (min-width: 769px) {
	/*  здесь outline не повлияет на доступность с клавиатуры, ссылка хороша видна в фокусе  */
	.staff__social-link:focus {
		outline: none;
	}

	.staff__flex-layout:hover .staff__social-link:hover {
		opacity: 1;
	}

	.staff__flex-layout:hover .staff__social-link:active {
		opacity: 0.4;
	}

	.staff__flex-layout:hover .staff__social-link {
		opacity: 0.7;
	}

	.staff__flex-layout:focus-within .staff__social-link {
		opacity: 0.7;
	}
}

.staff__name {
	margin-top: 0;
	margin-bottom: 20px;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #333;
}

.staff__description {
	margin-left: 20px;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #333;
}

/*  переход на мобильную версию и планшетную версии, распологаем все элементы друг за другом  */
@media (max-width: 768px) {
	.staff__item {
		flex-direction: column;
		align-items: center;
	}

	.flex-layout--left {
		order: 2;
		margin-right: 0;
	}

	.flex-layout--right {
		order: 1;
	}

	.staff__image {
		margin: 0;
	}

	.staff__name {
		text-align: center;
	}

	.staff__description {
		margin: 20px;

		text-align: center;
	}

	.staff__item::before {
		width: 280px;
		left: 50%;
		margin-left: -140px;
	}
}

.staff__down-button::before {
	border: 50px solid #cd5c5c;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}


/*============================
	slider
============================*/

.slider {
	position: relative;

	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
	
	background-color: #fff;
}

.slider__flex-layout {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.slider__button {
	position: relative;
	flex-shrink: 0;

	width: 90px;
	height: 100px;
	padding: 0;
	margin: 0;

	font-size: 0;

	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.slider__button:focus {
	outline: 2px solid #cd5c5c;
}

.slider__button--disabled {
	cursor: default;
	outline: none;
}

.slider__button::before {
	content: "";
	position: absolute;
	top: 20px;
	
	width: 50px;
	height: 50px;

	border-left: 10px solid #333;
	border-top: 10px solid #333;

	transition: all 0.2s ease;
}

.slider__button--disabled::before {
	border-color: #c5c5c5;
}

.slider__button:hover::before {
	opacity: 0.8;
}

.slider__button:active::before {
	opacity: 0.6;
}

.slider__button--prev::before {
	left: 20px;
	transform: rotate(-45deg);
}

.slider__button--next::before {
	right: 20px;
	transform: rotate(135deg);
}

@media (max-width: 768px) {
	.slider__button {
		width: 60px;
		height: 60px;
	}

	.slider__button::before,
	.slider__button--disabled::before {
		top: 13px;
		border-width: 6px;
		height: 30px;
		width: 30px;
	}

	.slider__button--prev::before {
		left: 20px;
	}
	.slider__button--next::before {
		right: 20px;
	}
}

@media (max-width: 480px) {
	.slider__button {
		height: 40px;
		width: 40px;
	}

	.slider__button::before,
	.slider__button--disabled::before {
		top: 8px;
		border-width: 4px;
		height: 20px;
		width: 20px;
	}

	.slider__button--prev::before {
		left: 10px;
	}
	.slider__button--next::before {
		right: 10px;
	}
}

.slider__button--disabled:hover::before {
	opacity: 1;
}
.slider__button--disabled:active::before {
	opacity: 1;
}

.slider__wrapper {
	width: 100%;
	max-width: 1140px;
	overflow: hidden;

	border: 3px solid #333;
}

.slider__inner-wrapper {
	display: flex;

	transition: transform 0.75s ease-in-out;
}

.slider__item {
	flex-shrink: 0;

	width: 100%;
	height: 100%;
}

.slider__down-button::before {
	border-color: #333;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}


/*============================
	menu
============================*/

.menu {
	position: relative;

	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 100px;

	border-top: 3px dotted #333;
}

.menu__title {
	position: relative;
	top: -25px;

	width: 180px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	background-color: #fff;
}

.menu__hookah-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	position: relative;

	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	padding-bottom: 60px;

	list-style: none;
}

.menu__hookah-list::before,
.menu__vip::before {
	content: "";
	position: absolute;
	bottom: 15px;
	display: block;

	width: 100%;
	height: 0;

	border-bottom: 1px solid #333;
}

.menu__hookah-list::after,
.menu__vip::after {
	content: "x";
	position: absolute;
	bottom: 0;
	display: block;

	width: 60px;
	height: 30px;

	color: #333;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	background-color: #fff;
}

.menu__hookah-item {
	position: relative;
	padding-top: 260px;
	margin-bottom: 50px;

	width: 320px;

	font-family: "Georgia", "Arial", sans-serif;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
}

.menu__hookah-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 15%;
	display: block;

	width: 70%;
	height: 240px;
	box-sizing: border-box;

	border: 5px solid #333;
	border-radius: 20px;
}

.menu__vip {
	display: flex;
	justify-content: space-around;

	position: relative;

	padding-bottom: 30px;
	margin-bottom: 50px;
}

.vip__title {
	margin: 0;
	padding: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 200px;
	line-height: 220px;
	text-transform: uppercase;
}

.menu__beverages {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	padding-bottom: 100px;
	margin-bottom: 50px;
}

.beverage--hot {
	display: flex;
	align-items: center;
}

.beverage--cold {
	max-width: 50%;
	text-align: right;
}

.beverage__title {
	padding: 0;
	margin: 0;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 90px;
	line-height: 90px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
}

.beverage_list {
	padding: 0;
	margin: 0;
	margin-left: 30px;

	list-style: none;
}

.beverage__item {
	font-family: "Georgia", "Arial", sans-serif;
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
}

@media(max-width: 1139px) {
	.beverage__title {
		font-size: 64px;
		line-height: 64px;
	}
}

@media(max-width: 768px) {
	.vip__title {
		font-size: 100px;
		line-height: 100px;
	}
	.beverage__title {
		font-size: 48px;
		line-height: 48px;
	}
}

@media(max-width: 480px) {
	.beverage--cold {
		max-width: 100%;
		text-align: center;
	}
	.menu__beverages {
		justify-content: center;
	}
	.vip__title {
		font-size: 64px;
		line-height: 64px;
	}

	.beverage__title {
		font-size: 32px;
		line-height: 32px;
	}

	.beverage__item {
		font-size: 20px;
		line-height: 24px;
	}
}


.menu__down-button::before {
	border-color: #c5c5c5;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}


/*============================
	menu
============================*/

.tables {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.tables__title {
	padding: 5px;
	padding-left: 20px;
	margin: 0;

	font-family: "Georgia", "Arial", sans-serif;
	color: #fffcef;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #333;
	background-image: linear-gradient(to right, #333 460px, #fff 460px);
	border-bottom: 5px solid #333;
}

.table {
	padding: 5px;
	border: 5px solid #333;
	border-top: none;
	border-bottom: none;
}

.table--last {
	border-bottom: 5px solid #333;
	margin-bottom: 50px;
}

.table__title {
	padding: 5px;
	padding-right: 10px;
	margin: 0;

	color: #666;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	font-style: italic;
}

.tables__down-button::before {
	border-color: #cd5c5c;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}

@media(max-width: 480px) {
	.tables__title {
		font-size: 32px;
		line-height: 32px;
	}
}


/*============================
	location
============================*/

.location {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.location__title {
	font-family: "Georgia", "Arial", sans-serif;
	color: #333;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

.location__buttons {
	display: flex;
	justify-content: center;
}

.location__button {
	padding: 10px 20px;

	font-family: "Georgia", "Arial", sans-serif;
	color: #fffcef;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	
	background-color: #cd5c5c;
	box-shadow: inset 0 -10px 10px -11px #333;
	border: none;
	
	outline: none;

	cursor: pointer;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	z-index: 1;
}

.location__button:first-child {
	margin-right: 20px;
}

.location__button:hover {
	box-shadow: none;
}

.location__button:active {
	transform: translateY(2px);
}

.location__button--active {
	box-shadow: none;
	background-color: #f04040;

	cursor: default;
}

.location__button--active:active {
	transform: none;
}

.location__button:focus {
	outline: 1px dashed #333;
}

.location__maps {
	margin-bottom: 50px;

	border-top: 10px solid #f04040;
	z-index: 10;
}

.location__map {
	display: none;
	width: 100%;
}

.location__map--active {
	display: block;
}

.location__down-button::before {
	border-color: #f04040;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-style: none;
}

@media(max-width: 480px) {
	.location__title {
		font-size: 32px;
		line-height: 32px;
	}
	.location__button {
	padding: 10px 10px;

		font-size: 14px;
	}
}


/*============================
	contacts
============================*/

.contacts {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.contacts__title {
	margin-bottom: 50px;

	font-family: "Georgia", "Arial", sans-serif;
	color: #333;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

.contacts__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
}

.contacts__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 20px;
}

.contacts__info {
	position: relative;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	margin-bottom: 10px;

	font-family: "Georgia", "Arial", sans-serif;
	font-size: 20px;
	line-height: 20px;
}

.contacts__info::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;

	display: block;

	width: 16px;
	height: 16px;

	background-repeat: no-repeat;
	background-position: center;
}

@media(max-width: 480px) {
	.contacts__info {
		font-size: 12px;
	}
}

.contacts__info--location::before {
	background-image: url('../img/location.svg');
}

.contacts__info--phone-number::before {
	background-image: url('../img/phone.svg');
}

.contacts__info--working-hours::before {
	background-image: url('../img/watch.svg');
}

.social {
	display: flex;
	justify-content: center;

	padding: 0;
	margin: 0;
	margin-top: 50px;

	list-style: none;
}

.social__item {
	margin: 0 20px;
}

.social__link {
	display: block;

	width: 48px;
	height: 48px;

	font-size: 0;

	opacity: 1;
	transition: all 0.2s ease;
}

.social__link--vk {
	background-image: url('../img/vk-social-logo.svg');
}

.social__link--vk:hover {
	background-image: url('../img/vk-social-logo-hover.svg');
}

.social__link--instagram {
	background-image: url('../img/instagram-logo.svg');
}

.social__link--instagram:hover {
	background-image: url('../img/instagram-logo-hover.svg');
}

.social__link--youtube {
	background-image: url('../img/youtube-logo.svg');
}

.social__link--youtube:hover {
	background-image: url('../img/youtube-logo-hover.svg');
}

.social__link:active {
	opacity: 0.8;
	transform: translateY(3px);
}

.social__link:focus {
	opacity: 0.8;
}